/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/70AXfzGtzAWO.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/U6EbUgtkLp5b.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/I6ejmuRytnbX.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/fs3K3psRVuRM.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/5gTHAYRGOFCU.otf') format('truetype');
}